
<div>
  <svg width="501" height="501" viewBox="0 0 501 501" preserveAspectRatio="xMidYMid" #svgGrid>

    <defs>
      <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
        <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5"/>
      </pattern>
      <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse">
        <rect width="100" height="100" fill="url(#smallGrid)"/>
        <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1"/>
      </pattern>
    </defs>
    <rect width="501" height="501" fill="url(#grid)" />

    <!--  -->
    <!-- <g> -->
      <g *ngFor="let svgLayer of svgLayers; let i = index" #svgLayerGroup>
        <rect (pointerdown)="dragAndDropSVGLayer($event, svgLayer)" attr.id="{{svgLayer.id}}" attr.x="{{ svgLayer.positionX - svgLayer.width/2 }}" attr.y="{{ svgLayer.positionY - svgLayer.height/2 }}" attr.width="{{ svgLayer.width }}" attr.height="{{ svgLayer.height }}" stroke="black" stroke-width="0" attr.fill="{{ svgLayer.color }}"/>
      </g>
    <!-- </g> -->
    <!--  -->

  </svg>
</div>



<br>
<br>
<br>

<div>
  <button mat-raised-button (click)="addSvgLayers()" color="warn">Add</button>
  <button mat-raised-button (click)="move()" color="primary">Move</button>
</div>

<br>
<br>
<br>

<div *ngFor="let item of items; let i = index">
  <div id="{{i}}" #hodvsjdv>{{item}}</div>
</div>
