circle {
  fill:#fff;
  -webkit-transition: fill 0.3s ease-out;
  -moz-transition: fill 0.3s ease-out;
  -o-transition: fill 0.3s ease-out;
  -ms-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}

circle:hover{
  fill:rgb(189, 214, 247);
}

// rect:hover{
//   fill:rgba(227, 227, 227);
// }